@tailwind base;
@tailwind components;
@tailwind utilities;

/* Deixa as fontes mais nítidas */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
  background: url("./assets/background.jpg") no-repeat ;
  background-size: 100vw 75vh;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}
/* Estilos para as fontes e border-box reforçado para as tags que não recebem do root
Obs.: Input, textarea e button por default não recebem o css do body, por isso estão aqui */
body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Transforma as dimensões de todos os componentes que usam rem para compactá-los para melhor responsividade */
html {
  @media (max-width: 756px) {
    font-size: 0.875rem;
  }
}
